<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <div class="col text-center" style="border-radius: 57px;
  background-color: linear-gradient(to right bottom, #f2b26e, #ffbaa9, #ffcfdd, #fee9fa, #ffffff);
 
  ">
        <h1 style="border-radius: 57px; margin-top: 10px;
      background-color: linear-gradient(to right bottom, #f2b26e, #ffbaa9, #ffcfdd, #fee9fa, #ffffff);
     
      " class="display-4 text-center ">Top-5 Recommendation</h1>

    </div>

    <div class="card-group" style="margin: 70px;">
        <div class="card">
            <!-- <img src="static\yt1.jpg" class="card-img-top" alt="..."> -->
            <p>Elon Musk has become one of the most influential figures in the tech and business world. He is the CEO of Tesla, SpaceX, and The Boring Company as well as the founder of Paypal and Neuralink. His ambition to innovate and disrupt entrenched industries with revolutionary technologies has earned him a near-mythic status among many fans. 

                However, there are various reasons why Elon Musk does not earn the same admiration from everyone. For starters, he has been accused of failing to deliver on some of his lofty promises. This includes the fact that Tesla has missed delivery targets for its cars numerous times and the Hyperloop project, which was announced by Musk in 2012 as a revolutionary high-speed transportation system, is yet to materialize. Furthermore, his public statements have also gotten him into trouble on multiple occasions. Examples include his recent tweets about Tesla stock being overvalued and a 2018 tweet about taking Tesla private at $420 per share, resulting in a Securities and Exchange Commission (SEC) investigation. 
                
                In addition, Elon Musk’s style of management has attracted criticism due to its lack of transparency and accountability. Under his watch, Tesla has faced a number of controversies related to working conditions, including reports of long hours, an increased workload and inadequate compensation. Moreover, the way Musk speaks to employees has also been called into question, with some sources reporting that he uses language that degrades and belittles them. 
                
                Moreover, his personal life has also been a source of controversy. He has been accused of exploiting his wealth, such as when he purchased a $4.5 million home and a fleet of cars, but refused to increase the wages of Tesla’s workers. In addition, his relationship with the press and media outlets has been acrimonious, particularly when he threatened to sue the news agency Buzzfeed for publishing articles critical of him. 
                
                All in all, it is clear that Elon Musk has achieved a lot in his career and has made significant contributions to the technology industry. However, it is equally apparent that he has his fair share of faults and flaws too. As such, it is understandable why he is not universally admired by everyone.</p>
            <div class="card-body">
                <h5 class="card-title">User ID : {{data[0]}}<span style="margin-left: 80px">Category: {{data[1]}}</span></h5>
                <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">G*and marao!</small>
            </div>
        </div>
    </div>

</body>

</html>